@model IEnumerable<ssdcw.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

@if (ViewData["Error"] != null)
{

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error</strong> @ViewData["Error"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h1>Bug tickets</h1>

    <p>
        <a type="button" class="btn btn-success" asp-action="Create">Create New</a>
    </p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Ticket number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                Submitted by
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                Assigned to
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus)
            </td>
            @if (item.TicketPriority.ToString() == "High")
            {
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
            }
            else if (item.TicketPriority.ToString() == "Medium")
            {
                <td style="color:yellowgreen">
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
            }
            else
            {
                <td style="color:green">
                    @Html.DisplayFor(modelItem => item.TicketPriority)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.TicketType)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAssigned.FullName)
            </td>

            @*<td>
           @Html.DisplayFor(modelItem => item.Description)
        </td>*@

            <td>
                @if (User.Identity.Name == item.Author.Email || User.Identity.Name == item.UserAssigned.Email
           || User.IsInRole("Admin"))
                {
                    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Change status</a>

                }
                @if (User.IsInRole("Admin"))
                {
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }

                <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Show more</a>

            </td>
        </tr>
        }
    </tbody>
</table>
